.tab-content {
    display: block !important;

}

.list-group .active {
    background: #FF4D03 !important;
}

.caption {
    text-align: center;
}


.flash_deals {
    margin-bottom: 50px;
    height: auto;
    background: #fff;
    box-shadow: 3px 3px 3px 3px #ddd;
    border-radius: 5px;
}


.flash_p_container {
    width: 15.5% !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}


.flash_deals_banner {
    float: left;
    width: 250px;
    height: 450px;
    margin-left: 15px;
}

.discount_stand_out {
    margin-top: 195px;
    position: absolute;
    margin-left: 65px;
    font-weight: 900;
    font-family: cursive;
}


.flash_deals_timer {
    position: absolute;
    margin-top: 30%;
    margin-left: 4%;
    color: #fff;
}

.vuejs-countdown {
    margin-top: 10px !important;
    margin-left: -15px !important;
}

.vuejs-countdown li {
    border: 1.5px dashed !important;
    padding: 0px 5px !important;
}

.vuejs-countdown .text {
    display: none;
}

.clock_span {
    margin-top: 5px;
}

.fa-clock-o {
    font-size: 1.2em;
}

.vuejs-countdown .text {
    font-size: 12px !important;
}

.vuejs-countdown .digit {
    font-size: 16px !important;

}

.fa-clock-o {
    font-size: 18px !important;
}

.vue-horizontal-list {
    margin-top: 0px !important;
}

.flash_p_card {
    width: 100%;
    height: 260px;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 1px 0px 1px #ddd;
}

.flash_p_card_body img {
    padding: 5px;
    width: 180px;
    height: 190px;
    transition: .3s;
}

.flash_p_detail {
    margin-top: -10px;
}

.flash_price {
    line-height: 5px !important;
}

.flash_P_quick_view {
    display: none;
    padding: 5px;
    transition: .5s;
}

.flash_q_btn {
    border-radius: 50%;
}

.quick_eye {
    font-size: 22px;
}

.flash_p_card:hover>.flash_P_quick_view {
    display: block;
    margin-top: -190px;
    animation: fly 1s ease 1;
}

.flash_p_detail h4 {
    font-size: 12px;
    padding: 5px;
}

.flash_deal_slider_area {
    width: 76% !important;
    padding-left: 25px !important;
    padding-right: 5px !important;
    margin-top: 10px;
}

.flash_deal_slider_area img {
    max-height: 150px;
}


.flash_slider_p_card {
    width: 140px;
    height: 200px;
    background: #F4F1F0;
}

.vhl-item[data-v-8b923bbc] {
    padding-top: 0px !important;
}

.vhl-navigation[data-v-8b923bbc] {
    margin-top: -30px !important;
}

.flash_slider_p_card_body img {
    width: 115px;
    height: 125px;
    margin: 10px;
}


.flash_slider_p_link {
    margin-top: 15px;
    font-size: 12px;
    line-height: 12px;
    color: #000;

}

.flash_slider_p_price {
    line-height: 15px;

}

.flash_price_new {
    color: red;
    font-size: 13px;
}

.flash_price_old {
    color: red;
    text-decoration: line-through;
    font-size: 12px;
}



.offer_collection {

    margin-left: 0px;
    margin-right: -10px;
    margin-bottom: 50px;
}

.collection_left {
    background-size: cover;
    height: 324px;
    width: 48%;
}

.collection_right {
    background-size: cover;
    height: 324px;
    width: 48%;
    margin-left: 30px;
}

.container_offer_header {
    margin-top: 185px;
    background: #eb3e41;
    width: 95%;
    height: 108px;
    opacity: 0.8;
}

.container_offer_header p {
    padding-top: 30px;
    color: #fff;
}

.container_offer_header h4 {
    font-weight: bold;
    color: #fff;
}

.collection_content {
    background: #fff;
    margin-top: 30px;
    margin-left: -20px;
    display: flex;
}

.collect_sub_data {
    float: right;
}

.collect_sub_data .p1 {
    font-size: 12px;
    padding: 3px;
    line-height: 15px;
    padding-top: 8px;
}

.collect_sub_data .p2 {
    font-size: 18px;
    padding: 5px;
    line-height: 15px;
    padding-top: 8px;
}

.btn_more {
    background: #4D4D4D;
    width: 120px;
    color: #fff;
}

.btn_more:hover>.arrow_right_icon {
    margin-left: 20px;
}

.arrow_right_icon {
    padding-left: 10px;
}

.collection_content img {
    width: 100px;
    height: 115px;
    padding: 6px;

}


.parallax_background {
    width: 99.4%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0px;
}

.btn_shop_now {
    background: #000;
    width: 200px;
    margin-top: 12%;
    margin-right: 25%;
    height: 40px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;

}

.btn_shop_now:hover {

    width: 210px;
    color: greenyellow;

}



.product {
    height: 100%;

    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.product-content {
    margin-top: 7px;
}

.single-product.mt-2 {
    margin-top: 20px;
}

span.outstcok {
    background: yellow;
    color: #000;
}

.product-side-category {
    margin-left: 8px;
    margin-top: 7px;
}

.toasted.toasted-primary.success {
    width: 400px;
    height: 55px;
    font-size: 18px;
}

.toasted.toasted-primary.error {
    width: 400px;
    height: 55px;
    font-size: 18px;
    font-weight: bolder;
}

.image img {
    max-width: 200px;
    max-height: 200px;
}

table img.img-thumbnail {
    width: 50px;
    height: 50px;
}

.product-content .product-thumb {
    border: 2px solid #DDD !important;
    margin-bottom: 12px;
}

.quantityUpdat {
    font-size: 20px;
    cursor: pointer;
}

.cart-empy {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
}

.cart-empy p {
    margin-top: 0px;
    font-size: 20px;
}

.cart-empy img {
    margin-bottom: 0px;
    margin-top: 0;
}

.custom-box {

    width: 100%;
    height: auto !important;
    background: #fff !important;
    padding: 25px 40px !important;
    margin: auto;
    border-radius: 10px !important;
    box-shadow: 3px 3px 3px #ddd !important;

}



.custom-box .title {
    text-align: center;
    text-transform: uppercase;
}

.is-invalid {
    border: 1px solid red;
}

.invalid-feedback {
    color: red;
}

.cart-total {
    background: #fff;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

span.badge-danger {
    background: red;
}

span.badge-success {
    background: #FF4D03;
}

span.badge-warning {
    background: #f39c12;
    color: #000 !important;
}

span.badge-primary {
    background: #3c8dbc;
}




.related_products .sub-title {
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 45px;
}

.search-content {
    position: absolute;
    z-index: 1000;
    top: 55%;
    width: 660px;
    max-height: 300px;
    overflow-y: scroll;
    background: #fff;
    min-height: 150px;
}

.search-content li:hover {

    background: #eee;
    color: #000;

}

.search-content li .search-router-link:hover {

    color: #000;

}

.search-content li .search-router-link {

    color: #000;

}



/* review css */

.login_section {
    margin-left: 33%;
    margin-top: 2%;
}

.star_section i {
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.user_star_rating_container {
    margin-left: 0px;
    margin-right: 250px;
    margin-bottom: 40px;
}

.user_review_display {
    padding: 5px;
}

.user_rating_stars {
    padding-top: 20%;
    position: absolute;
}

.user_rating_stars i {
    font-size: 18px;
    padding: 3px;
}

.review_text {
    margin-top: 12%;
}

.reviewer_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.review_image {
    width: 100px;
    height: 100px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

/* .fa {
            font-size: 25px;
        } */

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 12px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.user_rating_row {
    margin-bottom: 40px;
}

.user_rating_row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    /* width: 60%; */
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    /* width: 30%; */
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    /* width: 10%; */
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    /* width: 4%; */
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    /* width: 15%; */
    height: 18px;
    background-color: #f44336;
}


.service_btn_container {
     position: absolute;
     margin-top: -3px;
     margin-left: -119px;
}

.service_outer {
    width: 110px;
    border: .5px solid #ff4d03;
    height: 36px;
}

.service_inner {
    width: 110px;
    border: -0.5px solid #ff4d03;
    height: 36px;
}

.service_outer>.service_inner:hover {
    width: 109px;
    border: 1px solid #ff4d03;
    height: 35px;
    margin: -5px;
    position: absolute;
    z-index: 9999999;
    padding: 2px;
    background: #fff;
}


.service_inner a {
    color: #000;
    font-weight: bold;
    font-family: serif;
    padding-top: 8px;
}


.our_service_item {
    display: none;
    position: absolute;
    z-index: 9999999999999;
    margin-left: -166px;
    margin-top: 34px;
    background: #fff;
    padding: 14px 65px;
}

.our_service_item  li {
    padding: 10px 0;
    margin-left: -10%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    transition: all .2s ease;
}

.our_service_item li:hover {
   background-color: #0111331c;
   padding-left: 0.275rem;
}

.our_service_item li a {
    color: 000;
    font-size: 14px;
}

.our_service_list:hover>.our_service_item{
    display: block;
}


@media only screen and (max-width: 600px) {

    .container {
        margin: 5px;
    }

    .search-content {
        text-align: left;
        margin-top: 78px;
        position: absolute;
        left: 15%;
        width: 80%;
        text-align: left;
    }
}

.product-image-viewe {
    width: 85%;
    margin-bottom: 60px !important;

}

img.responsive-image.preview-box {
    width: 85%;
    margin-bottom: 25px !important;
}

/* starte the custome nav css*/



header.main-menu {
    position: relative;
    left: 0;
    top: 0;


}

nav.menu {
    display: flex;
    width: 100%;
}

ul.nav-list {
    display: flex;
    width: 100%;
    height: 40px;
    width: 100%;
    background-color: #FF4D03;

}

ul.nav-list li {
    line-height: 2.5rem;
    position: relative;
    text-align: center;
    top: 9px;
    left: 9rem;


}

ul.nav-list li .nav-item {
    color: #fff;
    padding: 0 12px;
}

.menu-icons {
    color: #FF4D03;
    font-size: 4rem;
    position: absolute;
    top: -40px;
    z-index: 1500;
    right: 2rem;
    transform: translateY(50%);
    display: none;
}

.sub-menu {
    background-color: #fff;
    color: #fff;
    top: 29px;
    left: 12px;
    width: 170px;
    z-index: 100000000;
    position: absolute;
    border-top: 3px solid #FF4D03;
    font-size: 12px;
    text-align: left;
    display: none;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;


}

.sub-menu .sub-menu {

    top: 0px;
    left: 162px;
    border-top: none;
    border-top: 2px solid #FF4D03
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

.sub-menu .sub-menu::before {

    top: -4px;
    left: -14px;
    border: 7px solid transparent;
    border-right-color: #fff;
}

.nav-list li:hover>.sub-menu {
    display: block;
}

ul.sub-menu li {
    text-align: left;
    padding: 5px 0 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin-left: 5px;
    left: 0px;
}

.nav-router {
    color: #000;
}

/* responsive menu */


@media only screen and (max-width: 850px) {


    .nav-list {
        width: 100% !important;
        height: 100vh !important;
        width: 100% !important;
        background-color: #FF4D03 !important;
        flex-direction: column !important;
        display: none !important;


    }

    .nav-list li {
        font-size: 16px;
        left: 0px !important;
        border-bottom: 1px solid #fff;
        color: #000000;
    }

    .nav-list li .nav-router {
        text-align: left !important;
        color: #000000;
    }

    .nav-list li:hover>.sub-menu {
        display: none;
    }

    .menu-icons {
        display: block;

        top: -203px;
    }

    body {
        overflow-x: hidden;
    }
}

.product-header {
    position: relative;
    padding: 0px;
    margin: 0px 0px 20px 0px;
    line-height: normal;
    font-size: 20px;
    color: #000000;
    border-bottom: 2px solid #ddd;
    padding-bottom: 3px;
}

nav#top li a {
    color: #fff !important;
}

#header .htop {
    background-color: #FF4D03;
}

.left-top {
    background-color: #FF4D03 !important;
}

#header .button-search {
    width: 69px !important;

    color: #fff;
    background: #FF4D03;
}

/*
start left sideb bar css */
ul.side-nav {
    width: 267px;
    height: 450px;
    list-style: none;
    background: #c2eaaa;
    box-shadow: 3px 4px 7px 1px #ddd;
    border-radius: 4px
}

ul.side-nav li {
    line-height: 4rem;
    border-bottom: 1px solid #f6f6f6;

    position: relative;
    left: -23px;
    vertical-align: middle;
    cursor: pointer;
    transition: 3ms;
}

ul.side-nav .nav-main-item {
    color: #000;
    font-size: 14px;
    margin-left: 14px;
    transition: 3ms;

}

.side-nav li:hover {
    background-color: #fff;
}

.nav-main-item:hover {
    color: #FF4D03;


}

ul.left-sub-menu {
    position: fixed;
    box-shadow: 3px 4px 7px 1px #ddd;
    background: #c2eaaa;
    width: 195px;
    z-index: 100;
    list-style: none;
    top: 120px;
    max-height: 420px;
    display: none;
    left: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 420px;
}

ul.left-sub-menu .last-sider-bar {
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
    left: 52rem;
    position: fixed;
    background: #c2eaaa;
    list-style: none;
    top: 130px;
    max-height: 420px;
    display: none;

    overflow-y: scroll;
    overflow-x: hidden;
    height: 420px;
    width: 195px;
}

ul.left-sub-menu .last-sider-bar li {
    border: none;
    left: -15px;
}

ul.side-nav li:hover>.left-sub-menu {
    display: block;
}

.left-sub-menu li:hover>.last-sider-bar {
    display: block;
}

.show-sub {
    display: none;
    float: right;
    margin-top: 17px
}

/* start responsieve side menu css  */


@media only screen and (min-width: 950px) {
    .width-20 {
        width: 20% !important;
    }
}

@media only screen and (max-width: 950px) {


    ul.side-nav {
        left: 0;
        width: 100%;
        position: absolute;


        z-index: 100;
        display: none;
        top: -200px;
    }

    ul.left-sub-menu {
        display: none;
        left: 0;
        width: 100%;
        position: absolute;
        left: 7px;
        top: 44px;
        border: 1px solid #eee;
    }

    .left-top {
        display: none !important;
    }

    #header #logo a img {
        display: inline-block;
        position: absolute;
        top: -84px;
        left: 8rem;
        background: #fff;
        padding: 0px;
        height: 53px;
    }

    #header #top-links>ul>li>a {

        padding: 10px 10px;
    }

    i.fa-align-justify {
        font-size: 35px;
        position: absolute;
        left: 28px;
        top: 12px;
        color: #fff;
    }

    .show-sub {
        display: block;
    }

    ul.side-nav li:hover>.left-sub-menu {
        display: none;
        position: absolute;
    }

    .left-sub-menu li:hover>.last-sider-bar {
        display: none;
    }

    .chat-icon {

        left: 80% !important;
        border: none !important;

    }

    .user-content {
        display: flex;

    }

    .user-side-bar {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .d-sm-none {
        display: none;
    }

    .prodict-card-body img {
        width: 150px !important;
        height: 150px !important;
        padding: 18px 20px !important;


    }



}

.menu-show {
    display: block;
}

.category_icon_image {
    max-width: 20px;
    max-height: 20px;
}

.pull-right {
    background: #FF4D03 !important;
}

.chat-icon {
    float: right !important;
    position: fixed;
    text-align: right;
    left: 93%;
    z-index: 10000;
    top: 283px;
    vertical-align: middle;

    width: 75px;
    height: 120px;
    text-align: center;

    background: transparent;
    padding: 30px 0px;
    border: 2px solid #FF4D03
}

.product_carousel.flash_sale h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #FF4D03;

}

.flash_sale {
    border: 5px solid #ff4d03;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    padding: 0px;
    box-shadow: 3px 3px 6px #ddd;
    background-color: #fff;

}

.wrapper-wide {
    background-color: #F7F8FA;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.product-card {
    width: 100%;
    height: 290px;
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #ddd;
    border-radius: 6px;
}

.product-card:hover>.product-card-footer {
    display: block;
    margin-top: -45px;
    animation: fly 1s ease 1;
}

@keyframes fly {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.prodict-card-body img {
    padding: 10px;
    width: 200px;
    height: 200px;
    transition: .3s;
}

.prodict-card-body img:hover {
    transform: scale(1.5);
}

.product-detail h4 {
    font-size: 12px;
    padding: 5px;
}

.product-card-footer {
    display: none;
    background: #ff4d03;
    padding: 5px;
    transition: .5s;
}

.detls_prodcut {
    color: #fff;
    background: transparent;
}

.best-selling .product-card {
    width: 220px;
}

.poster img {
    max-width: 165px;
    max-height: 165px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.product-link {
    color: #000;
    transition: .3s;
}

.product-link:hover {
    color: #ff4d03;
}

.category-heading {
    display: inline;
}

.category-heading {
    display: inline;
}

.s-category {
    display: inline;
    float: right;
}

.sub-category-name:hover {
    color: #FF4D03;

}

.c-v-all {
    background: #000;
    color: #fff;
    padding: 5px 18px;
    width: 22px;
    height: 38px;
    display: inline;
    border-radius: 4px;
    transition: .5s;
}

.c-v-all:hover {

    border-radius: 0px;
    color: #fff;
    background: #FF4D03;

}

.c-product {
    margin-top: 50px;
}

.c-product-header {
    margin-bottom: 8px;
    padding: 6px 0px;
    border-bottom: 1px solid #ddd;
    /* text-align: center; */
}

.single-product-box {
    background: #fff;
    padding: 15px 25px;
    box-shadow: 3px 3px 3px #ddd;
    border-radius: 5px;
    height: auto;
}

.product-description {
    background: #fff;
    padding: 15px 25px;
    box-shadow: 3px 3px 3px #ddd;
    border-radius: 5px;
    height: auto;
    margin-top: 20px;
}

.realted-producs {
    margin-top: 20px;
}

.realted-producs h3 {
    margin-left: 15px;
}

.bg-white {
    background: #fff;
}

.shadow {
    box-shadow: 3px 3px 3px #ddd;
}

.c-box {
    padding: 20px 25px;
}

.cart-dropdown {
    position: absolute;
    width: 350px;
    right: 0;
    height: 400px;

    z-index: 999;
}

.cart {
    position: fixed;
    z-index: 999999999999999999;
    right: 0;
    background: #fff;
    bottom: 0;
    height: 100%;
    width: 0px;
    transition: .5s;
}

.colapse-cart {
    width: 400px;
}

.cart-header {
    padding: 15px 15px;
    background: #000;
    text-transform: uppercase;
    font-weight: bold;
    color: #FF4D03;
}

.cart-body {
    padding: 15px 15px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.placebtn {
    text-transform: uppercase;
    color: #FF4D03;
    font-size: 18px;
}

.placebtn:hover {
    color: #FF4D03;
}

.cart-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
}

.cart-fiiter {
    padding: 15px 15px;
}

#exitcart {

    cursor: pointer;
}

.cart-open {
    position: fixed;
    right: 0;
    z-index: 999;

    top: 50%;

    width: 80px;
    background: #FF4D03;
    text-align: center;
    height: 120px;
    cursor: pointer;
}

.cart-open i {
    font-size: 25px;
}

.cart-item-total {
    color: #fff;
}

.user-side-bar {
    padding: 10px 10px;
    margin-bottom: 30px;
}

.profile.clearfix {
    text-align: center;
}

.order-histrory {
    padding: 10px 20px;
    margin-left: 25px;
}

.overlaw-offer {

    opacity: 0;
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: #FF4D03;
    transition: .5s;
    width: 165px;
    height: 165px;

}

.overlaw-offer:hover {

    width: 100px;
    opacity: .7;
}

.overlaw-offer-height:hover {
    height: 80px;
    width: 165px;
}

.sub-category-name {
    border-bottom: 1px solid #ff4d03;
    margin-right: 8px;
    background: #fff;
    padding: 5px 4px;
    font-size: 13px;
    font-weight: bold;
}

.product-details-tabe {
    background: #fff;
    margin-top: 25px;
    padding: px;
    box-shadow: 3px 3px 3px #ddd;
    border-radius: 10px;
}

ul.details-tab-menu-list {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    background: #ddd;
    border-radius: 2px;
}

.details-tab-menu-item {
    padding: 10px;
    color: #000;
    font-weight: bolder;

    cursor: pointer;
}


.tab-menu-item-active {
    border-bottom: 4px solid #ff4d03;
}

.product-tab-content {
    padding: 15px 15px;
    min-height: 250px;
}

.product-details {
    display: none;
}

.how-to-buy {
    display: none;
}

.block {
    display: block;
}

li.h-b-li {
    list-style-type: square;
    padding: 2px;

}

.product-thumb .image:hover {
    transform: scaleX(-1);
}

.poster .row {
    background: #fff;
    padding: 12px 12px;
    box-shadow: 0 0 10px 5px #ddd;
    border-radius: 10px
}





@media screen and (max-width: 700px) {

    /* in small view device quick view button won't display */

    .btnQuick {

        display: none;
    }


    /* frontend common responsive issue is start from here  */

    img.responsive-image.preview-box {
        width: 85%;
        margin-left: 20px;
    }


    /* landing responsive code is start from here  */

    .container {
        margin: 5px;
    }

    .banner_container {
        margin-left: -13px;
    }

    .banner_heading {
        margin-left: 3px;
    }

    .poster img {
        max-width: 120px;
        max-height: 130px;
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .top-product-card-small img {
        width: 160px !important;
        height: 160px !important;
        margin-left: 15%;
        margin-bottom: 12px;
    }

    .top-product-card-small p {
        font-size: 13px;
        line-height: 2px;
    }

    .top-product-card-small h4 {
        font-size: 13px;
        padding-bottom: 3px;
        margin-top: -5px;
    }


    .c-product-header {

        display: none;
    }


    .product-card {
        width: 184px;
        height: 220px;
        background: #fff;
        border: 1px solid #ddd;
        text-align: center;
        padding-top: 5px;
        margin-bottom: 15px;
    }


    .product-card:hover>.product-card-footer {
        display: none;
    }

    .product-card p {
        font-size: 13px;
        margin-top: -15px;

    }

    .product-detail h4 {
        font-size: 13px;
        padding-bottom: 10px;
        margin-top: -10px;
    }

    .prodict-card-body img {
        width: 150px !important;
        height: 150px !important;
        padding: 5px 0px !important;
    }




    /* contact us responsive code is here  */
    .address_container {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px !important;
    }

    .contact_row {
        margin-top: -15px !important;
    }

    p {
        position: relative;
        font-size: 13px !important;
        line-height: 15px !important;
    }

    .box {
        margin: 10px;
    }



    /* single display product responsive isssue is start from here ; */



    .product-details {
        margin-left: -16px;
    }

    .product-details ul {

        list-style: none;
        margin-left: -16px;
        margin-right: 3px;

    }

    .r_title {
        margin-left: 20px;
    }

    .single_product_heading h4 {
        font-size: 16px;
    }

    .list-unstyled h2 {
        font-size: 20px;
    }



    .details-tab-menu-list li {

        font-size: 11px !important;

    }




    /* cart responsive is start from here */

    .cart_row {
        padding-bottom: 25px;
    }

    .cart_responsive_item {

        margin-left: 250px;
        margin-top: -54px;

    }

    .cart_responsive_price {
        margin-left: 270px;
        margin-top: -44px;

    }


    .cart_responsive_total {

        margin-left: 310px;
        margin-top: -24px;
    }

    .cart_responsive_remove {

        cursor: pointer;
        margin-left: 350px;
        margin-top: -24px;
    }



    /* blog responsive issue is start from here */

    .desc_info p {
        font-size: 12px;
        line-height: 24px;
        font-style: normal;
    }

    .feature_image {
        width: 311px !important;
        height: 230px !important;
        margin-top: 18px !important;
        border: 3px dashed;
    }


    /* carrier details page responsive is here */

    .carrier_description {
        font-size: 14px;
        line-height: 24px;
    }


    .carrier_feature_image {
        width: 205px;
        height: 132px;
        border-radius: 10px;
    }

    /* cart responsive is start from here */

    .cart-open {

        height: 70px;

    }

    .cart-open i {
        font-size: 18px;
    }

    .cart-total {
        background: #fff;
        width: 100%;
        padding: 0px;
        border: 1px solid #ddd;
        font-size: 14px;
    }


    .cart-total h5 {
        margin-top: 2px !important;
        font-size: 14px;
    }


    /* footer responsive code is start from  here */
    .quick_link {
        margin-left: 25px;
    }

    .news_letter {
        margin-left: 25px;
    }

    .subscribe_input {
        width: 300px;
        margin-left: 18px;

    }

    .email_icon_container {
        margin-right: 40px;
    }


    .short_desc {
        font-size: 14px;
        line-height: 24px;
        padding-right: 10px;
    }

    .end_footer {
        background: #ff4d03;
        height: 60px !important;
        width: 100%;
        margin-top: -10px;
    }



    .f_info_left {
        font-size: 14px;
    }

    .f_info_right {
        margin-top: 30px !important;
        margin-left: -40px !important;
        padding-right: 58px !important;
    }




}

img.responsive-image.choosed-thumb {
    max-width: 60px !important;
}

img.zoomer-control.responsive-image {
    max-width: 40px !important;
}

.__preview_image_box {
    display: flex;
}

img.__preview_img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.__preview_image_box {
    margin-top: 10px;
    max-width: 400px;
    overflow-x: auto;
}

.__p_active {
    transition: .5s;
    border: 1px solid red;
}


.__image_box_img {
    width: 400px ;
}

.__lightbox {
    position: absolute;
    width: 1100px;
    height: 600px;
    background: #eee;
    top: 0;
    z-index: 9999;
    top: -25%;
    transition: .3s;
}

@media screen and (max-width: 700px) {

    .__image_box_img {
        width: 100%;
    }

    .c-v-all {
        display: none !important;
    }
}

.vue-horizontal-list {
    margin-top: 15px;
}

.flash_deals_row {
    margin-top: 13px;
    padding: 10px 10px;
}





@media screen and (max-width:768px) {

    .flash_deals {
        margin-bottom: 50px;
        height: 295px;
    }

    .flash_deals_banner {
        float: left;
        width: 30%;
        height: 250px;
        margin-left: 2%;
    }

    .flash_deal_slider_area {
        width: 66% !important;
        padding-left: 25px !important;
        padding-right: 5px !important;
    }


    .discount_stand_out {
        margin-top: 110px;
        font-size: 17px;
        margin-left: 12%;
    }

    .flash_deals_timer {
        position: absolute;
        margin-top: 197px;
        margin-left: 7%;
        color: #fff;
    }

    .vuejs-countdown li:after {
        top: -3px !important;
        font-size: 22px !important;
    }

    .vuejs-countdown li {
        border: 1px dashed !important;
        padding: 0px 0px !important;
    }

    .fa-clock-o {
        font-size: 1em;
    }

    .vuejs-countdown .digit {
        font-size: 12px !important;

    }

    .flash_p_container {
        display: none;
    }


    .flash_slider_p_card {
        width: 160px;
        height: 240px;
    }

    .vhl-item[data-v-8b923bbc] {
        padding-top: 0px !important;
    }

    .flash_slider_p_card_body img {
        width: 90%;
        height: 150px;
        margin: 5px;
    }


    .flash_slider_p_link {
        margin-top: 10px;
        font-size: 12px;
        line-height: 12px;
        color: #000;

    }

    .flash_slider_p_price {
        line-height: 18px;

    }


    /* collection responsive */
    .offer_collection {
        margin-bottom: 10px;
    }

    .collection_left {
        margin-left: -5px;
        width: 100%;
        height: 600px !important;

    }

    .collection_right {
        width: 100%;
        height: 600px !important;
        margin-left: -5px;
        margin-top: 20px;
    }

    .container_offer_header {
        text-align: center;
        margin-top: 160px;
        width: 80%;
        margin-left: 10%;
        height: 108px;
    }

    .collection_content {
        display: block;
        background: #fff;
        margin: 1%;
        width: 48%;
        float: left;
    }

    .collection_content img {
        width: 100%;
        height: 210px;
        padding: 10px;
    }

    .collect_sub_data {
        text-align: center;
        float: none;
    }

    .collect_sub_data .p1 {
        font-size: 14px;
    }

    .collect_sub_data .p2 {
        font-size: 16px;
        padding: 5px;
        line-height: 7px;
        padding-top: 0px;
    }

    .btn_more {
        margin-bottom: 10px;
    }


}



@media screen and (max-width:450px) {

    .flash_deals_timer {
        position: absolute;
        margin-top: 195px;
        margin-left: 9%;
    }

    .vuejs-countdown li:after {
        top: -4px !important;
        font-size: 22px !important;
    }

    .fa-clock-o {
        font-size: 1em;
    }

    .flash_deal_slider_area {
        width: 62% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .flash_slider_p_card {
        width: 200px;
        height: 250px;
    }

    .flash_slider_p_card_body img {
        width: 90%;
        height: 180px;
        margin: 5px;
    }

    .flash_deals_banner {
        float: left;
        width: 35%;
        height: 250px;
        margin-left: 3%;
    }

    .collection_content img {
        width: 100%;
        height: 165px;
        padding: 10px;
    }


    .user_star_rating_container {
        width: 100%;
    }

    .user_rating_stars {
        padding-top: 0%;
    }

    .review_image {
        margin-top: -52%;
    }

    .review_text {
        margin-top: 5%;
    }





}


@media screen and (max-width:350px) {

    .flash_deal_slider_area {
        width: 60% !important;
        padding-left: 0px !important;
        padding-right: 5px !important;
    }

    .flash_slider_p_card {
        width: 190px;
        height: 250px;
    }

    .flash_slider_p_card_body img {
        width: 90%;
        height: 180px;
        margin: 5px;
    }


    .flash_deals_timer {
        position: absolute;
        margin-top: 52.9%;
        margin-left: 7%;
    }

    .vuejs-countdown .digit {
        font-size: 12px !important;
    }

    .vuejs-countdown li {
        margin: 0 5px !important;
    }

    .vuejs-countdown li:after {
        top: -4px !important;
        font-size: 20px !important;
    }

}

/*.__sticky{*/
/*    position: fixed !important;*/
/*    z-index: 99999999 !important;*/
/*    animation: smoothScroll 1s forwards;*/
/*    top: 0;*/

/*  }*/
/*  @keyframes smoothScroll {*/
/*      0% {*/
/*          transform: translateY(-40px);*/
/*      }*/
/*      100% {*/
/*          transform: translateY(0px);*/
/*      }*/
/*  }*/






#paymentBtn {
    position: relative;
    background: #ff4d03;
    border: 0 none;
    color: #fff;
    padding: 8px 60px 8px 70px;
    border-radius: 4px;
    height: 42px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    width: 254px;
    outline: 0;
    overflow: hidden;
}

#sslczPayBtn {
    position: relative;
    background: #ff4d03;
    border: 0 none;
    color: #fff;
    padding: 8px 60px 8px 70px;
    border-radius: 4px;
    height: 42px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    width: 254px;
    outline: 0;
    overflow: hidden;
}

.loginWithPass {
    color: #000;
}



.btn-primary {
    border-radius: 5px;
}




#navbar {
    display: flex;
    position: relative;
}

ul.__higlight_menu {
    position: absolute;
    right: 0;
    height: 40px;

}

ul.__higlight_menu li {
    text-align: center;
    padding: 10px 0px;
    background: #fff;
    color: #000;
    height: 35px;
    border-radius: 5px;
    margin-top: 2px;
    animation: highLightMenu 3s infinite;
}

ul.__higlight_menu li a {
    color: #000;
    font-size: 13px;
}

@keyframes highLightMenu {
    0% {
        width: 120px;
    }

    50% {
        width: 180px;
    }

    100% {
        width: 250px;
        margin-right: 40px;
    }
}

div#SocialLoginMessage {
    background: #ff4d03;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 6000;
}

i.fa.fa-close.close-SocialLoginMessage {
    text-align: right;
    float: right;
    font-size: 24px;
    margin-right: 22px;
    cursor: pointer;
}

.google-login {
    background: none;
    border: 1px solid #DF5C39;
    color: #ff4d03;
    font-weight: 600;
}

.facebook-login {
    background: none;
    border: 1px solid #0E8CF1;
    color: #0E8CF1;
    font-weight: 600;
}





/* landing page flash highlight */
ul.flash_deals_higlight li {
    position: absolute;
    text-align: center;
    padding: 8px 0px;
    background: #fff;
    color: #000;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: -20px;
    animation: highLightFlashDeals 3s infinite;
}

ul.flash_deals_higlight li a {
    color: #000;
    font-size: 20px;
    font-family: ui-serif;
    font-style: oblique;
}

@keyframes highLightFlashDeals {
    0% {
        width: 120px;
    }

    20% {
        width: 140px;
    }

    50% {
        width: 160px;
    }

    70% {
        width: 200px;
    }

    100% {
        width: 240px;
    }
}

/* flash page highlisht */

ul.higlight_on_flash_page li {
    text-align: center;
    padding: 10px 0px;
    background: #fff;
    color: #000;
    height: 35px;
    border-radius: 5px;
    margin-top: 2px;
    animation: hLightFlashDeals 3s infinite;
}

ul.higlight_on_flash_page li a {
    color: #000;
    font-size: 20px;
    font-family: ui-serif;
    font-style: oblique;
}

@keyframes hLightFlashDeals {
    0% {
        width: 240px;
    }

    40% {
        width: 380px;
    }

    70% {
        width: 460px;
    }

    100% {
        width: 550px;
    }
}


.prop_up_container {
    width: 100%;
    min-height: 120vh;
    background: #0000009c;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999999;
}
#p_p{
    display: none;
}
.prop_up_img {
    width: 500px;
    height: 300px;
}

.prop_up_close {
    font-size: 40px;
    position: absolute;
    margin-top: -21%;
    margin-left: 37%;
    color: #eee;
    cursor: pointer;
}

.offer_box {
    height: 165px;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 4px;
}

.offer_box img {
    max-height: 140px;
    border: none;
}

h4.offer_caption {
    font-size: 12px;
    color: #000;
    margin-top: 3px;
}
a.coupon-apply {
    font-size: 16px;
    font-style: italic;
    color: #000;
    text-decoration: underline;
}


.__search_img img {
    max-width: 50px;
}

.__search_poruduct-details {
    display: flex;
    padding: 5px 8px;
}

.__search_porducts_details {
    margin-left: 10px;
}
.__search_porducts_details p:hover{
    color: #000;
}

ul.__search_tag {
    padding: 0;
    margin: 0;
    display: flex;
    padding: 7px 15px;
}
ul.__search_tag li {
    background: #ff4d03;
    color: #fff;
    padding: 7px 9px;
    margin-right: 10px;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}











.discount {
    background: #ff4d03;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    right: -3px;
    text-align: center;
    top: 20px;
    transform: translate(-50%, -50%) rotate(-30deg);
    text-transform: uppercase;
}

.discount_star1 {
    position: absolute;
    z-index: -5;
    margin: 3px;
    color: #fff;
    font-size: 9px;
    transform: rotate(-45deg);
    margin-left: 1px;
    margin-top: 4.5px;
}

.discount_star2 {
    position: absolute;
    z-index: -5;
    margin: 10px;
    color: #fff;
    font-size: 9px;
    transform: rotate(45deg);
    margin-top: 5px;
}

.d_off {
    position: absolute;
    margin-left: -20px;
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 9px;
}

.top_s_discount {
    background: #ff4d03;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 20px;
    transform: translate(-50%, -50%) rotate(-30deg);
    text-transform: uppercase;
}

.flas_p_discount {
    background: #ff4d03;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    right: -13px;
    text-align: center;
    top: 21px;
    transform: translate(-50%, -50%) rotate(-30deg);
    text-transform: uppercase;
}


.flas_s_discount {
    background: #ff4d03;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    right: -14px;
    text-align: center;
    top: 20px;
    transform: translate(-50%, -50%) rotate(-30deg);
    text-transform: uppercase;
}


   .fa-phone{
    animation: phonerotate 1s infinite;


}
@keyframes phonerotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.toasted .primary.error, .toasted.toasted-primary.error {

    height: 80px !important;
}
